# node
node_modules/
dist/
coverage/
.nyc_output/

# env & local
.env
*.local.*
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store

# docker
sbom-*.spdx.json
k6-summary.json